[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
cloudinary = "*"
codecov = "*"
Django = "*"
django-filter = "*"
django-heroku = "*"
django-webpack-loader = "*"
easy-thumbnails = "*"
graphene-django = "*"
gunicorn = "*"
html5lib = "*"
Jinja2 = "*"
percy-python-selenium = "*"
python-dateutil = "*"
python-dotenv = "*"
tzlocal = "*"

[requires]
python_version = "3.7"
