aniso8601==7.0.0
asgiref==3.2.5
backcall==0.1.0
certifi==2019.11.28
chardet==3.0.4
cloudinary==1.20.0
codecov==2.0.22
colorama==0.4.3
coverage==5.1
decorator==4.4.2
dj-database-url==0.5.0
Django==3.0.4
django-heroku==0.3.1
django-webpack-loader==0.7.0
easy-thumbnails==2.7
graphene==2.1.8
graphene-django==2.10.1
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.0.4
html5lib==1.0.1
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==2.11.1
MarkupSafe==1.1.1
parso==0.7.0
percy-python-selenium==0.1.2
pickleshare==0.7.5
Pillow==7.1.1
promise==2.3
prompt-toolkit==3.0.5
psycopg2==2.8.4
Pygments==2.6.1
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2019.3
requests==2.23.0
Rx==1.6.1
selenium==3.141.0
singledispatch==3.4.0.3
six==1.14.0
sqlparse==0.3.1
traitlets==4.3.3
tzlocal==2.0.0
Unidecode==1.1.1
urllib3==1.25.8
wcwidth==0.1.9
webencodings==0.5.1
whitenoise==5.0.1
