{% extends 'web/base.html.j2' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <p>
            Hello, World!
        </p>
    </div>
{% endblock %}
