{% extends 'web/base.html.j2' %}

{% block title %}
    {{ data.first_name + ' ' + data.last_name }}
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <a href="{{ url('members') }}" class="btn indigo text-light btn-sm">
                <i class="material-icons left">keyboard_arrow_left</i></a>
            <div class="my-4 d-flex align-items-stretch">
                <div class="card">
                    <div class="view overlay">
                        <img class="card-img-top" src="{{ data.picture_url }}" />
                        <a href="{{ url('member', args=(data.href,)) }}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title h4 h4-responsive">{{ data.first_name + ' ' + data.last_name }}</h4>
                        <p class="card-text">
                            {% if data.course|length %}
                                {% if data.year is not none %}
                                    {{ data.year|string + ' - ' + data.course }}
                                {% else %}
                                    {{ data.course }}
                                {% endif %}
                            {% endif %}
                            <ul class="list-unstyled">
                                {% if data.facebook|length %}
                                    <li>
                                        <a href="https://www.facebook.com/{{ data.facebook }}" target="_blank"><i class="fab fa-facebook-square"></i> /{{ data.facebook }}</a>
                                    </li>
                                {% endif %}
                                {% if data.twitter|length %}
                                    <li>
                                        <a href="https://www.twitter.com/{{ data.twitter }}" target="_blank"><i class="fab fa-twitter"></i> @{{ data.twitter }}</a>
                                    </li>
                                {% endif %}
                                {% if data.instagram|length %}
                                    <li>
                                        <a href="https://www.instagram.com/{{ data.instagram }}" target="_blank"><i class="fab fa-instagram"></i> @{{ data.instagram }}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-12 pl-md-5">
            <h1 class="h1 h1-responsive">Your pictures go here</h1>
        </div>
    </div>
</div>

{% endblock %}
