{% extends 'backend/base.html.j2' %}

{% block title %}
    Under Construction
{% endblock %}

{% block body %}

<div class="container text-center py-5 my-5">
    <h1 class="display-1 fas fa-tools pb-4"></h1>
    <h4>This page is under construction. Come back next time!</h4>
</div>

{% endblock %}
