html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
}

body {
    font-family: 'Futura Bk BT', sans-serif;
    opacity: 1;
    transition: 0.5s opacity;
}

body.fade-out {
    opacity: 0;
    transition: 0.5s opacity;
}

.cover-photo {
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    box-shadow: none;
}
